spring:
  application:
    name: scrapper

  datasource:
    url: jdbc:mariadb://localhost:3306/scryfall_db
    username: root
    password: tu_password
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
